.thirdSec-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 27%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:white;
    gap: 8%;
    font-family:Arial, Helvetica, sans-serif;
    
}