.threeCard-container{
    height: 92%;
    /* background-color: #db5618; */
    display: flex;
    flex-direction: row;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
    justify-content: space-between;
}